/*====================
variable
====================*/
$font-size: 16;
$color-white: #fff;
$color-black: #000;
$color-main:#2498B3;
$color-text: #121212;
$breakpoints: (
    'sm': 'screen and (max-width: 767px)',
    'md': 'screen and (max-width: 1000px)',
    'xl': 'screen and (min-width: 1280px)',
);

/*====================
function
====================*/
@function size($el) {
    @return calc($el / $font-size * 1rem);
}

@mixin mediaQuery($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

/*====================
vender
====================*/
html{
  min-width: size(375);
  line-height: 1.7;
  font-size: size(16);
  font-family: "Noto Sans JP", MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
  color: $color-text;
}
img{
    max-width: 100%;
}
ul,ol{
  list-style-type: none;
}
a{
  text-decoration: initial;
  color: initial;
}

/*====================
project
====================*/

.c-btn{
  $color-btn-bg:$color-main;
  $color-btn-txt: $color-white;

  padding: size(12) size(18);
  display: block;
  background-color: $color-btn-bg;
  color: $color-btn-txt;
  border-radius: size(4);
  font-weight: bold;
  &__in{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-text{
    &__label{
    line-height: 1;
    }
  }
}

.l-header{
  background-color: $color-white;
  &__in{
  }
  &__body{
    height: size(50);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.p-logo{
  padding-top: size(6);
  padding-left: size(10);
    &__img {
      width: size(143);
    }
    &__text{
        display: none;
    }
}

.nav{
  height: 100%;
  &-icon{
    width: size(50);
    height: 100%;
    position: relative;
    & span{
      font-size: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: size(23);
      height: size(2);
      background-color: $color-main;
      &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: size(23);
        height: size(2);
        background-color: $color-main;
        margin-top: size(-9);
      }
      &::after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: size(23);
        height: size(2);
        background-color: $color-main;
        margin-top: size(9);
      }
    }
  }
}

.p-nav{
  height: 0;
  overflow: hidden;
  position: absolute;
}

.top-catch{
  position: relative;
  height: size(320);
  &-bg{
    &-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        &01 {
            background-image: url(../img/bg-hero1.webp);
            z-index: 1;
            background-position: center size(-30);
        }
        &02 {
          background-image: url(../img/bg-hero2.webp);
          z-index: 0;
          background-position: center size(-25);
        }
        &03{
          background-image: url(../img/bg-hero3.webp);
          z-index: -1;
          background-position: center size(-25);
          background-attachment: fixed;
        }
      }
  }
  &__in{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }
  &-box{
    padding:size(20) 0;
    background-color: $color-white;
    z-index: 2;
    &__head{
      display: none;
    }
    &__label{
      font-size: size(13);
      text-align: center;
      font-weight: bold;
    }
    &__foot{
      margin-top:size(13);
      & .c-btn{
        width: size(228);
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.top-intro{
  background-color: $color-black;
  color:$color-white;
  padding: size(64) 0;
  &__in{
    padding: 0 size(10);
  }
  &-item{
    & + .top-intro-item{
      margin-top: size(40);
    }
    &__in{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-thum {
      width: size(230);
      height: size(230);
      background-color: $color-white;
      border-radius: 50%;
      color: $color-black;
      display: flex;
      align-items: center;
      justify-content: center;
      & i{
        font-size: size(100);
      }
    }
    &-ttl{
      margin-top: size(10);
      font-size: size(24);
      font-weight: bold;
    }
    &-txt{
      margin-top: size(8);
      font-weight: bold;
    }
  }
}