/*====================
variable
====================*/
$font-size: 16;
$color-white: #fff;
$color-black: #000;
$color-main: #2498B3;
$color-text: #121212;
$breakpoints: (
  'sp': 'screen and (max-width: 767px)',
  'tab': 'screen and (min-width: 768px)',
  'tab-large': 'screen and (min-width: 1080px)',
  'pc': 'screen and (min-width: 1201px)',
  'pc-large': 'screen and (min-width: 1280px)',
);

/*====================
function
====================*/
@function size($el) {
  @return calc($el / $font-size * 1rem);
}

@mixin mediaQuery($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/*====================
vender
====================*/
html {
  min-width: size(375);
  line-height: 1.7;
  font-size: size(16);
  font-family: "Noto Sans JP", MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
  color: $color-text;
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: initial;
  color: initial;
}

/*====================
project
====================*/

.c-btn {
  $color-btn-bg: $color-main;
  $color-btn-txt: $color-white;

  padding: size(12) size(18);
  display: block;
  background-color: $color-btn-bg;
  color: $color-btn-txt;
  border-radius: size(4);
  font-weight: bold;
  transition: 0.5s;

  &__in {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-text {
    &__label {
      line-height: 1;
      white-space: nowrap;
    }
  }
}

.l-header {
  background-color: $color-white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;

  &__in {}

  &__body {
    height: size(50);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mediaQuery('pc') {
      height: size(70);
    }
  }
}

.l-main {
  margin-top: size(50);

  @include mediaQuery('pc') {
    margin-top: size(70);
  }
}

.p-logo {
  padding-left: size(10);

  @include mediaQuery('pc') {
    padding-left: size(21);
    display: flex;
    align-items: center;
    gap: size(16);
  }

  &__img {
    width: size(143);
    padding-top: size(6);

    @include mediaQuery('pc') {
      width: size(160);
    }
  }

  &__text {
    display: none;

    @include mediaQuery('pc-large') {
      display: block;
      font-weight: 900;
      font-size: size(14);
      line-height: 1.4;
    }

    & span {
      @include mediaQuery('pc-large') {
        font-size: size(18);
      }
    }
  }
}

.nav {
  height: 100%;

  &-icon {
    width: size(50);
    height: 100%;
    position: relative;
    cursor: pointer;

    @include mediaQuery('pc') {
      display: none;
    }

    & span {
      font-size: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: size(23);
      height: size(2);
      background-color: $color-main;
      opacity: 1;
      transition: .2s background-color, .2s transform;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: size(23);
        height: size(2);
        background-color: $color-main;
        margin-top: size(-9);
        transition: .2s background-color, .2s transform;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: size(23);
        height: size(2);
        background-color: $color-main;
        margin-top: size(9);
        transition: .2s background-color, .2s transform;
      }
    }
  }
}

.is-no-animation {
  transition: none !important;
}

.is-open {
  &.nav-icon {
    background-color: $color-main;

    & span {
      background-color: $color-main;

      &::before {
        background-color: $color-white;
        transform: translate(-50%, -50%) rotate(45deg);
        margin-top: 0;
      }

      &::after {
        background-color: $color-white;
        transform: translate(-50%, -50%) rotate(-45deg);
        margin-top: 0;
      }
    }
  }

  &+.p-nav {
    &-list {
      display: flex;
      flex-direction: column;
    }

    &-item {
      &__link {
        padding: size(10);
        height: auto;
      }
    }
  }
}

.p-nav {
  overflow: hidden;
  position: absolute;
  transition: .2s height;
  z-index: 100;
  left: 0;
  width: 100%;
  height: 0;
  background: $color-white;

  @include mediaQuery('pc') {
    height: 100%;
    position: initial;
    transition: none;
  }

  &__in {
    @include mediaQuery('pc') {
      height: 100%;
    }
  }

  &__list {
    @include mediaQuery('pc') {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &-item {

    &:hover .p-nav-item__button::after {
      transform: rotate(0deg);
    }

    &__link {
      &:hover {
        background-color: #F3FAFB;
        transition: 0.2s background-color, 0.2s color;

        @include mediaQuery('pc') {
          background-color: #D4F1F8;
        }
      }

      width: 100%;
      display: block;
      padding: size(10);
      font-weight: bold;

      @include mediaQuery('pc') {
        height: size(70);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 size(15);
      }
    }

    &__button {
      &:hover {
        background-color: #F3FAFB;
        transition: 0.2s background-color, 0.2s color;

        @include mediaQuery('pc') {
          background-color: #D4F1F8;
        }
      }

      width: 100%;
      display: block;
      padding: size(10);
      font-weight: bold;
      position: relative;
      cursor: pointer;

      @include mediaQuery('pc') {
        height: size(70);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 size(15);
      }

      &::before {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        margin-right: size(13);
        width: size(24);
        height: size(2);
        margin-top: size(-1);
        background-color: $color-text;
        z-index: 9;

        @include mediaQuery('pc') {
          content: none;
        }
      }

      &::after {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        margin-right: size(13);
        width: size(24);
        height: size(2);
        margin-top: size(-1);
        background-color: $color-text;
        z-index: 9;
        transform: rotate(90deg);

        @include mediaQuery('pc') {
          content: none;
        }
      }
    }

    &-sub {
      overflow: hidden;
      transition: .2s height;

      @include mediaQuery('pc') {
        position: absolute;
        background-color: #fff;
        height: 0;
      }

      & .p-nav-item__link {
        padding-left: size(20);
        font-weight: initial;

        @include mediaQuery('pc') {
          height: initial;
          justify-content: flex-start;
          padding: size(15) size(60) size(15) size(15);
          background-color: #F3FAFB;

          &:hover {
            @include mediaQuery('pc') {
              background-color: #fff;
              color: #2498B3;
            }
          }
        }
      }
    }

    &--emphasis {
      @include mediaQuery('pc') {
        background-color: #2498B3;
      }

      & .p-nav-item__link {
        @include mediaQuery('pc') {
          color: #fff;
        }

        &:hover {
          @include mediaQuery('pc') {
            background-color: initial;
          }
        }
      }
    }
  }
}

.top-catch {
  position: relative;
  height: size(320);

  @include mediaQuery('tab') {
    height: size(650);
  }

  &-bg {
    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;

      @include mediaQuery('tab') {
        background-size: initial;
      }

      &01 {
        background-image: url(../img/bg-hero1.webp);
        z-index: 1;
        background-position: center size(-30);

        @include mediaQuery('tab') {
          background-position: center;
        }
      }

      &02 {
        background-image: url(../img/bg-hero2.webp);
        z-index: 0;
        background-position: center size(-25);

        @include mediaQuery('tab') {
          background-position: center;
        }
      }

      &03 {
        background-image: url(../img/bg-hero3.webp);
        z-index: -1;
        background-position: center size(-25);
        background-attachment: fixed;
        background-size: cover;

        @include mediaQuery('tab') {
          background-position: center;
        }
      }
    }
  }

  &__in {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

    @include mediaQuery('tab') {
      position: relative;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &-box {
    padding: size(20) 0;
    background-color: $color-white;
    z-index: 2;

    @include mediaQuery('tab') {
      margin-top: size(80);
      padding: size(42) size(40) size(24) size(40);
      border-radius: size(10);
      max-width: size(530);
    }

    &__head {
      display: none;

      @include mediaQuery('tab') {
        display: block;
        margin-bottom: size(8);
      }
    }

    &-title {
      @include mediaQuery('tab') {
        text-align: center;
      }

      & img {
        @include mediaQuery('tab') {
          width: size(280);
        }
      }
    }

    &__label {
      font-size: size(13);
      text-align: center;
      font-weight: bold;

      @include mediaQuery('tab') {
        font-size: size(16);
      }
    }

    &__foot {
      margin-top: size(13);

      @include mediaQuery('tab') {
        margin-top: size(28);
        text-align: center;
      }

      & .c-btn {
        width: size(228);
        margin-left: auto;
        margin-right: auto;

        @include mediaQuery('tab') {
          width: initial;
          display: inline-block;
          padding: size(24) size(37);
          font-size: size(18);
        }
      }
    }
  }
}

.top-intro {
  background-color: $color-black;
  color: $color-white;
  padding: size(64) 0;

  @include mediaQuery('tab') {
    padding: size(64) 0;
    position: relative;
    z-index: 10;
  }

  &__in {
    padding: 0 size(10);

    @include mediaQuery('tab') {
      padding: 0 2%;
    }

    @include mediaQuery('pc') {
      padding: 0;
    }
  }

  &-list {
    @include mediaQuery('tab') {
      display: flex;
      gap: 4%;
      margin-top: size(-263);
    }

    @include mediaQuery('tab-large') {
      justify-content: center;
      gap: size(100);
    }
  }

  &-item {
    @include mediaQuery('tab') {
      flex: 1;
    }

    @include mediaQuery('tab-large') {
      width: size(229);
      flex: initial;
    }

    &+.top-intro-item {
      margin-top: size(40);

      @include mediaQuery('tab') {
        margin-top: size(0);
      }
    }

    &__in {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-thum {
      width: size(230);
      height: size(230);
      background-color: $color-white;
      border-radius: 50%;
      color: $color-black;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mediaQuery('tab') {
        border: solid size(6) $color-black;
      }

      & i {
        font-size: size(100);
      }
    }

    &-ttl {
      margin-top: size(10);
      font-size: size(24);
      font-weight: bold;
    }

    &-txt {
      margin-top: size(8);
      font-weight: bold;
    }
  }
}